.sets {
    padding: 60px 0;
    display: grid;
    gap: 60px;
    padding: 70px 20px;

    @media (max-width: 1024px) {
        padding: 0 12px 60px;
        gap: 0;

    }
}

.setsProperty {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr
    }
}

.setsYear {  
    position: absolute;
    top: 42px;
    left: 0;
    font-variant-numeric: lining-nums tabular-nums;
    transition: 0.3s ease-in-out;

    @media (max-width: 1180px) {
        top: 0;
    }

    @media (max-width: 1024px) {
        position: static;
        justify-self: center;
        padding: 100px 0 120px;
    }
}

.setsContainer {
    display: grid;
    gap: 20px;

    @media (max-width: 1024px) { 
        gap: 60px;
    }
}

.setGroup {
    @media (max-width: 1024px) {
        display: grid;
        gap: 20px;
    }
}