.sets {
    display: grid;
    gap: 60px;
    padding: 60px 20px;


    @media (max-width: 1279px) {
        padding: 60px 0;
        gap: 0;
    }
}

.setsProperty {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

    @media (max-width: 1279px) {
        grid-template-columns: 1fr
    }
}

.setsYear {  
    position: absolute;
    top: 42px;
    left: 0;
    font-variant-numeric: lining-nums tabular-nums;
    transition: 0.3s ease-in-out;

    @media (max-width: 1279px) {
        position: sticky;
        top: 0;
        display: block;
        width: 100vw;
        background-color: #fff;
        padding: 100px 0 120px;
        z-index: 1;
        text-align: center;
    }
}

.setYearsMobile {
    @media (max-width: 1279px) {
        display: none;
    }
}

.setsContainer {
    display: grid;
    gap: 20px;

    @media (max-width: 1279px) { 
        gap: 60px;
        padding: 0 12px;
    }
}

.setGroup {
    @media (max-width: 1279px) {
        display: grid;
        gap: 20px;
    }
}