.links {
    border: 1px solid black;
    min-height: 100px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 20px;
}

.link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: transparent;
}

@media (hover: hover) {
    .link:hover.link::after {
        background-color: #000;
    }
}