.dialogs {
    width: 100%;
    min-width: 336px;
    max-width: 496px;
    align-self: center;
    padding: 0 10px;
}

.links {
    border: 1px solid black;
    min-height: 100px;
    border-radius: 6px;
}